*{
    box-sizing: border-box;
}

html{
    font-size: 10px;;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    height: 100vh;
    background: #000;
}

.container{
    width: 600px;
    height: 600px;
    padding: 20px;
    border-radius: 4px;
    background: rgb(24, 26, 27);;
}

.frame{
    border: 1px solid #fff;
    border-radius: 4px;
    height: 100%;
}